
    body {
      font-family: inherit;
      font-size: 20px;
      line-height: 28px;
      word-spacing: 1px;
      padding: 30px;
      margin: -7px;
      background-color: wheat;
      color: #27292b;
      width: 100%;
      font-family: 'Courgette','Acme' ;
  }
  h1{
    font-size: 24px;
    font-weight: bold;
    margin: 10px 0;
    font-family: 'Courgette','Acme' ;
  }
  
  h2{
    font-size: 18px;
    font-weight: bold;
    font-family:'Courgette','Acme' ;
  } 
h3 {
    font-size: 25px;
    padding: 4px;
    color: #27292b;
    margin: -3px;
    display: unset;
    font: bold;
    font-family:'Courgette','Acme' ;

  }
  h4{
    font-family:'Yellowtail' ;
    font-size: larger;
  }
  header {
    background: #35a04755;
    width: 100%;
    padding: 17px 0;
    text-align: center;
    position: sticky;
    top: 0;
    z-index: 9999;
    margin-top: -24px;
    margin-left: -22px;
  }
  nav {
    margin: 0 auto;
    overflow: hidden;
    max-width: 700px;
  }
  
  nav ul {
    display: block;
    max-width: 660px;
    padding: 0 10px;
  }
  nav ul li a{
    text-decoration: none;
    color: #0e2805;
    font-weight: bold;
    letter-spacing: 1.4px;
    font-size: 18px;
  }
  main{
    max-width: 1388px;
    margin: 40px auto;
    margin-left: 20px;
    overflow: hidden;
  }
  /* main > *{
    float:left;
  } */
  
  main > :nth-child(odd){
    width:20%
  }
  
  main > :nth-child(2){
    width: 50%;
  }
  
  main ul, main li {
    padding: 0;
    margin: 10px 0;
    font-family: 'Spectral', ;
  }
  aside{ 
    padding-left: 30px;
    padding-top: 55px;  }
  #img-clicks {
    padding: 84px 9px 0 0;
    font-size: 20px;
    line-height: 1.4;
    font-size: larger;
  }
  a {
    color: #047a22;
    font-weight: bold;
    line-height: 1.4;
  }
  img {
    max-height: 300px;
    max-width: 100%;
    margin: 0 auto;
    cursor: pointer;
    border-radius: 24%;
    
  }
  #all_images {
    text-align: center;
    margin: 0px;
    width: 730px;
    margin-left: 339px;
    margin-top: 40px;
  }
  #all_images img {
    height: 188px;
    width: 210px;
    padding: 0;
    margin: 15px 0;
    border: 1px solid #fefffe;
    box-shadow: 2px 0 12px #043817;
  }
  li {
    display: inline-block;
    list-style: none;
    margin: 20px 40px 20px 0px;
    font-size: 1.2em; 
  }
  body footer {
    background: #35a04755;
    clear: both;
    text-align: center;
    padding: 24px 0;
    color: #27292b;
    margin-bottom: -31px;
    margin-left: -23px;
  }
  section div {
    padding: 5px;
    box-sizing: border-box;
    float: left;
    width: 33%;
  }
  main > :nth-child(odd) {
    width: 20%;
    margin-left: 30px;
    padding: 3px;
  }